<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => t("price_variations").pluralize } %>

<div id="selected-prices">
  <%= render :partial => "prices_table", :locals => {:price_variations => @price_variations} %>
</div>
